.top{
    background-color: azure;
}

h1{
    margin: 50px auto 0  auto; 
    font-size: 5.625em;
    color: #66bfbf;
    margin: 0 auto ;
    font-family: 'Sacramento',Arial, Helvetica, sans-serif ;    
}

h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
}

h3{
    color: #11999e;
}

body{
    margin: 0px;
    text-align: center;
    font-family: 'sans-serif';
}

.middle {
    height: 200px;
    width: 200px;
    background-color: sandybrown;
}


.bottom{
    height: 200px;
    width: 200px;
    background-color:chartreuse;
}

.cloud-1 {
    position: relative;
    right: 10%;
    top: 10%;
}
.cloud-2 {
    position: absolute;
    left: 55%;
    top: 20%;
}

.mountain{
    position: relative;
    object-fit: cover;
    right:7px;
}

.sun{
    position: absolute;
    left: 33%;
    bottom: -41%;
    opacity: 0;
}

.skill-row{
    width: 55%;
    margin: auto;
    text-align: left;
    line-height: 1.65;
}

.sun:hover{
    opacity: 100;
}

img.thunder_1 {
    position: relative;
    right: -167px;
    top: 159px;
}
img.thunder_2 {
    position: relative;
    top: 30px;
    left: -557px;
}

.skill_image{
    position: relative;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.colorwheel{
    position: relative;
    width: 15%;
    float:right;
    margin-left: 20px;
}